// Styling for the masthead
header.masthead {
  text-align: left;
  color: $logo-gray;
  background: rgb(77, 8, 115);
  background: radial-gradient(
    circle,
    rgba(77, 8, 115, 1) 0%,
    rgba(32, 5, 82, 1) 100%
  );
  .intro-text {
    padding-top: 140px;
    padding-bottom: 110px;
    .intro-lead-in {
      font-size: 40px;
      font-weight: 100;
      margin-bottom: -15px;
      @include heading-font;
    }
    .intro-heading {
      font-size: 16px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media (min-width: 768px) {
  header.masthead {
    background-image: url('#{$header-image}');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 100vmin;
    .intro-text {
      width: 425px;
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }
}
